@model NexenHub.Models.MachineProdReport

<div class="row row-cols-1 row-cols-md-4 g-2 mb-2">
   
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <span class="display-6">@Model.minValue</span>
                <div style="color: #4bc0c0;">
                    Min
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <span class="display-6">@Model.avgValue</span>
                <div style="color: #36a3eb;">
                    Average
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <span class="display-6">@Model.maxValue</span>
                <div style="color: #4bc0c0;">
                    Max
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <span class="display-6">@Model.sumValue</span>
                <div style="color: #36a3eb;">
                    Total
                </div>
            </div>
        </div>
    </div>

    
</div>

<div class="row">
    <div class="col">
        <div class="card ">
            <h6 class="card-header">
                Production
            </h6>
            <div class="card-body">
                <canvas id="@Html.Raw(Model.UniqeName+"ProdChart")" style="display: block; box-sizing: border-box; " />
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

    var prodctx = document.getElementById('@Html.Raw(Model.UniqeName+"ProdChart")').getContext('2d');
    var prodmyChart = new Chart(prodctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Model.datesFormat),
            datasets: [
                {
                    data: @Html.Raw(Model.countsFormat),
                    backgroundColor: ['rgba(0, 130, 255, 0.7)'],
                    borderColor: ['rgba(0, 130, 255, 1)'],
                    borderWidth: 1
                }
            ]
        },
        options: {
            maintainAspectRatio: true,
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    //grid: {
                    //    color: 'rgba(255,255, 255,0.2)'
                    //},
                    //ticks: {
                    //    color: 'white'
                    //}
                },
                x: {
                    //grid: {
                    //    color: 'rgba(255,255, 255,0.2)'
                    //},
                    //ticks: {
                    //    color: 'white'
                    //}
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });

    </script>
