@model NexenHub.ViewModels.InputPositionsViewModel
@{
}

<script src="~/js/inputPositions.js"></script>


@*<div class="table-responsive">
    <table class="table table-sm table-hover text-center align-middle">
        <tbody>

            @foreach (var inputPosition in Model.InputPositions)
            {

            <tr class="text-center">

                <td class="text-start">
                    <div>@inputPosition.IO_POSID</div>
                    <div class="text-muted small">@inputPosition.SYNC_ID</div>
                </td>

                <td>
                    <div>
                        <a id="@Html.Raw("href_" + inputPosition.IO_POSID)" class="link-primary" href="#" target="_blank">
                            <span id="@Html.Raw("lotId_" + inputPosition.IO_POSID)"></span>
                        </a>
                    </div>
                    <div>
                        <span class="text-muted small" id="@Html.Raw("lotSyncId_" + inputPosition.SYNC_ID)"></span>
                    </div>
                </td>

                <td>
                    <div><span id="@Html.Raw("cartId_" + inputPosition.IO_POSID)"></span></div>
                    <div><span class="text-muted small" id="@Html.Raw("cartSyncId_" + inputPosition.SYNC_ID)"></span></div>
                </td>

                <td>
                   <div><span id="@Html.Raw("itemId_" + inputPosition.IO_POSID)"></span></div>
                </td>

                <td>
                   <div><span id="@Html.Raw("itemName_" + inputPosition.IO_POSID)"></span></div>
                </td>
                                
            </tr>
            }
                    
        </tbody>
    </table>
    </div>*@

<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-4 row-cols-xxl-4 p-0">
    @foreach (var inputPosition in Model.InputPositions)
    {
        <div class="col g-1">
            <div class="card h-100">
                <div class="card-body ">

                   <div class="row">
                        <div class="col text-center">
                            <div><span class="small text-muted" id="@Html.Raw("itemId_" + inputPosition.IO_POSID)"></span></div>
                                <div><span class="small" id="@Html.Raw("itemName_" + inputPosition.IO_POSID)"></span></div>
                        </div>
                    </div>

                <div class="row">
                <div class="col">
                    <div class="d-flex">

                        <div class="flex-grow-1">
                            <a id="@Html.Raw("href_" + inputPosition.IO_POSID)" class="link-primary" href="#" target="_blank">
                                <span class="small" id="@Html.Raw("lotId_" + inputPosition.IO_POSID)"></span>
                            </a>
                        </div>

                        <div>
                          <span class="small" id="@Html.Raw("cartId_" + inputPosition.IO_POSID)"></span>
                        </div>
                    
                    </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col">
                            <div class="d-flex">
                            <span class="flex-grow-1 small text-muted" id="@Html.Raw("lotSyncId_" + inputPosition.SYNC_ID)"></span>
                            <span class="small text-muted" id="@Html.Raw("cartSyncId_" + inputPosition.SYNC_ID)"></span>
                        </div>

                        </div>
                    </div>

                </div>

                <div class="card-footer bg-transparent">
                    <div class="d-flex">
                        <div class="flex-grow-1"><span class="small">@inputPosition.IO_POSID</span></div>
                        <div><span class="text-muted small">@inputPosition.SYNC_ID</span></div>
                        </div>
                    </div>
                
            </div>
        </div>
    }
    </div>


<script defer type="text/javascript">

    var EQ_ID = @Model.EQ_ID;

    document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                refreshInputPositions();
                break;
            case "complete":
                setInterval(refreshInputPositions, 10000);
                break;
        }
    });



    async function refreshInputPositions() {
        await readInputRfid(EQ_ID).then(async data => await displayRfid(data));
        await getInputPositions(EQ_ID).then(async data => await displayUsedMaterial(data));
    }

    async function displayRfid(data) {

        var arrData = Object.entries(data);

        arrData.forEach(rfid => {
            var cart = rfid[1].substring(0, 5);
            var lot = rfid[1].substring(5);

            try {
                document.getElementById('cartSyncId_' + rfid[0]).innerHTML = cart;
                document.getElementById('lotSyncId_' + rfid[0]).innerHTML = lot;
            }
            catch { }

        });
    }

    async function displayUsedMaterial(data) 
    {

        data.forEach(material => 
        {

            try 
            {
                var cartElement = document.getElementById('cartId_' + material.IO_POSID);
                var lotElement = document.getElementById('lotId_' + material.IO_POSID);
                var lotHref = document.getElementById('href_' + material.IO_POSID)

                if (material['IO_POSGB'] == 'I') 
                {
                    cartElement.innerHTML = ' ' + material['CART_ID'];
                    lotElement.innerHTML =  '' + material['LOT_ID'];
                    lotHref.setAttribute('href', window.location.origin+'/lot/' + material['LOT_ID']);
                    displayItemInfo(material['LOT_ID'], material.IO_POSID);
                }
                else 
                {
                    cartElement.innerHTML = '';
                    lotElement.innerHTML = '';
                    lotHref.setAttribute('href', '');
                    displayItemInfo('', material.IO_POSID);
                }
            } catch { }

        });

    }

    async function displayItemInfo(lot, io_posid)
    {
        var itemElement = document.getElementById('itemId_' + io_posid);
        var itemNameElement = document.getElementById('itemName_' + io_posid);
        var itemName = '';
        var itemId = '';
        
        if (lot != '')
        {
            var lotitem = await getInputItem(lot);
            itemId = lotitem.ID;
            itemName = lotitem.Name;
        }

        itemElement.innerHTML = itemId;
        itemNameElement.innerHTML = itemName;
    }

</script>
