@page "{proc?}"
@model NexenHub.Pages.Dashboard.StatusModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="30">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="" style="background-color:#000000;">

        <div class="container-fluid mt-0 mt-md-3">
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-6 row-cols-xxl-12 g-2">
                @{ foreach (var status in Model.statuses)
                {
                    <div class="col">

                        @{string stl = "bg-dark";
                            string txtc = "text-light text-muted";
                            if (!string.IsNullOrEmpty(status.Downtime)) {
                                stl = "bg-warning";
                                txtc = "text-dark";
                            }
                        }

                        <div class="card h-100 @txtc @stl">
                            <div class="card-header text-center">
                                <h3> @status.Name </h3>
                            </div>
                            <div class="card-body text-center">
                                <h3>
                                    @{
                                    if (string.IsNullOrEmpty(status.Downtime))
                                        @status.Item_id
                                    else
                                        @status.Downtime
                                    }
                                </h3>
                            </div>
                        </div>

                    </div>
                }
                }
            </div>

        </div>


</body>
</html>
