@page
@model NexenHub.Pages.Dashboard.tvModel
@{
    Layout = null;

    string stl = Model.ICSCount == Model.LatestCount ? "alert-primary" : "alert-warning";

    string stlRex = Model.RexCount == Model.LatestCountRex ? "alert-primary" : "alert-warning";

    string stlIO = Model.IOCount == Model.LatestCountIO ? "alert-primary" : "alert-warning";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="30">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="" style="background-color:#000000;">

    <div class="container-fluid">

        <div class="row">

            <div class="row row-cols-1 row-cols-md-3 g-2">

                <div class="col">
                    <div class=" card h-100 @stlIO text-center">
                        <div class="card-header display-5">IO Server</div>
                        <div class="card-body display-5">
                            <div>@Model.LatestIOVersion.ToString("yy-MM-dd")</div>
                            <div>@Model.LatestCountIO / @Model.IOCount</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class=" card h-100 @stl text-center">
                        <div class="card-header display-5">ICS</div>
                        <div class="card-body display-5">
                            <div>@Model.LatestICSVersion.ToString("yy-MM-dd")</div>
                            <div>@Model.LatestCount / @Model.ICSCount</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class=" card h-100 @stlRex text-center">
                        <div class="card-header display-5">Rex</div>
                        <div class="card-body display-5">
                            <div>@Model.LatestRexVersion.ToString("yy-MM-dd")</div>
                            <div>@Model.LatestCountRex / @Model.RexCount</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        @{
            if (@Model.isPM)
            {
                <div class="row mt-2">

                    <div class="row row-cols-1 row-cols-md-3 g-2">

                        @foreach (var dev in @Model.MachinesPM)
                    {

                        <div class="col">
                            <div class="card h-100 bg-warning text-dark">
                                <div class="card-header text-center">
                                    <h2>PM - @dev.Name</h2>
                                </div>
                                <div class="card-body text-center">
                                    <h3>@dev.Start.ToString("HH:mm")</h3>
                                </div>
                            </div>
                        </div>

                    }

                    </div>
                </div>
            }
        }

        @{
            if (!Model.allPingOK)
            {

                <div class="row mt-2">
                    <div class="row row-cols-1 row-cols-md-3 g-2">
                        @foreach (var dev in @Model.FailPing)
                    {

                        <div class="col">
                            <div class="card h-100 bg-danger text-light">
                                <div class="card-header text-center">
                                    <h2>@dev.Name</h2>
                                </div>
                                <div class="card-body text-center">
                                    <div><h3>@dev.IP</h3></div>
                                    <div><h3>Disconnected</h3></div>
                                </div>
                            </div>
                        </div>

                    }
                    </div>
                </div>

            }


        }

    </div>
</body>
</html>