@model NexenHub.Models.MachineDownTime

        @*<div class="row row-cols-1 row-cols-lg-2 g-3">*@
            @*<div class="col">
                <div class="card h-100 bg-soma-darklight text-light">
                    <div class="card-header">
                        Uptime
                    </div>
                    <div class="card-body">
                        <canvas id="sumDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                    <div class="card-footer text-center">
                        <small>@Model.filterStartDate.ToString("yyyy-MM-dd HH:mm") - @Model.filterEndDate.ToString("yyyy-MM-dd HH:mm")</small>
                    </div>
                </div>
            </div>*@
            <div class="col">
                <div class="card h-100 bg-soma-darklight text-light">
                    <div class="card-header">
                        Downtimes
                    </div>
                    <div class="card-body">

                        <div class="progress bg-transparent" style="height:30px;">
                            <div class="progress-bar" role="progressbar" style="width: @Html.Raw(Model.perUp + "%");background-color: rgba(50,205,50,0.7);" 
                                 aria-valuenow="@Model.perUp" aria-valuemin="0" aria-valuemax="100">@Html.Raw(Model.perUp + "%")</div>

                            <div class="progress-bar bg-danger" role="progressbar" style="width: @Html.Raw(Model.perDown + "%")" 
                                 aria-valuenow=@Model.perDown aria-valuemin="0" aria-valuemax="100">@Html.Raw(Model.perDown + "%")</div>
                        </div>

                        <canvas id="eachDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                    <div class="card-footer text-center">
                        <small>@Model.filterStartDate.ToString("yyyy-MM-dd HH:mm") - @Model.filterEndDate.ToString("yyyy-MM-dd HH:mm")</small>
                    </div>
                </div>
            </div>
        @*</div>*@

            <script type="text/javascript">

            const eachctx = document.getElementById('eachDTchart').getContext('2d');
            const eachDT = new Chart(eachctx, {
                type: 'pie',
                data: {
                    labels:@Html.Raw(Model.formatEaLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatEaDatas),
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ]@*@Html.Raw(Model.formatBackgrounds)*@,
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ]@*@Html.Raw(Model.formatBorders)*@
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                            labels: {
                                color: 'white'
                            } },
                        title: {
                            display: false,
                            text: ''
                        }
                    }
                }
            });

            @*const sumctx = document.getElementById('sumDTchart').getContext('2d');
            const sumDT = new Chart(sumctx, {
                type: 'pie',
                data: {
                    labels: @Html.Raw(Model.formatSumLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatSumDatas),
                        borderWidth: 1,
                        backgroundColor: [
                            "rgba(50,205,50,0.7)",
                            "rgba(220, 53, 69,0.7)",
                            "rgba(139,0,139,0.7)",
                            "rgba(85,107,47,0.7)",
                            "rgba(255,140,0,0.7)"
                        ],
                        borderColor: [
                            "rgba(50,205,50,1)",
                            "rgba(220, 53, 69,1)",
                            "rgba(139,0,139,1)",
                            "rgba(85,107,47,1)",
                            "rgba(255,140,0,1)"
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                            labels: {
                                color: 'white'
                            }
                        },
                        title: {
                            display: false,
                            text: ''
                        }
                    }
                }
            });*@

            </script>
