@model NexenHub.Models.MachineDownTime

        <div class="card">
            <div class="card-header bg-dark text-light">
                Downtime
            </div>
            <div class="card-body">
                <div class="row flex-row-reverse mb-3">
                    <div class="col">
                        <span class="float-right text-muted">@Model.filterStartDate - @Model.filterEndDate</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <canvas id="sumDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                    <div class="col-6">
                        <canvas id="eachDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript">

            const eachctx = document.getElementById('eachDTchart').getContext('2d');
            const eachDT = new Chart(eachctx, {
                type: 'doughnut',
                data: {
                    labels:@Html.Raw(Model.formatEaLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatEaDatas),
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ]@*@Html.Raw(Model.formatBackgrounds)*@,
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ]@*@Html.Raw(Model.formatBorders)*@
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    plugins: {
                        legend: { position: 'right' },
                        title: {
                            display: false,
                            text: ''
                        }
                    }
                }
            });

            const sumctx = document.getElementById('sumDTchart').getContext('2d');
            const sumDT = new Chart(sumctx, {
                type: 'doughnut',
                data: {
                    labels: @Html.Raw(Model.formatSumLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatSumDatas),
                        borderWidth: 1,
                        backgroundColor: [
                            "rgba(50,205,50,0.5)",
                            "rgba(220, 53, 69,0.5)",
                            "rgba(139,0,139,0.5)",
                            "rgba(85,107,47,0.5)",
                            "rgba(255,140,0,0.5)"
                        ],
                        borderColor: [
                            "rgba(50,205,50,1)",
                            "rgba(220, 53, 69,1)",
                            "rgba(139,0,139,1)",
                            "rgba(85,107,47,1)",
                            "rgba(255,140,0,1)"
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    plugins: {
                        legend: { position: 'right' },
                        title: {
                            display: false,
                            text: ''
                        }
                    }
                }
            });

        </script>
