@model NexenHub.Models.MachineDownTime

<div class="row">
    <div class="col">
            <H5>Downtimes (to be deleted)</H5>
    </div>
</div>

<div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">

                        <div class="progress bg-transparent" style="height:30px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: @Html.Raw(Model.perUp + "%");" 
                                 aria-valuenow="@Model.perUp" aria-valuemin="0" aria-valuemax="100">@Html.Raw(Model.perUp + "%")</div>

                            <div class="progress-bar bg-danger" role="progressbar" style="width: @Html.Raw(Model.perDown + "%")" 
                                 aria-valuenow=@Model.perDown aria-valuemin="0" aria-valuemax="100">@Html.Raw(Model.perDown + "%")</div>
                        </div>

                        <canvas id="eachDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                    <div class="card-footer text-center">
                        <small>@Model.filterStartDate.ToString("yyyy-MM-dd HH:mm") - @Model.filterEndDate.ToString("yyyy-MM-dd HH:mm")</small>
                    </div>
                </div>
            </div>
</div>

            <script type="text/javascript">

            const eachctx = document.getElementById('eachDTchart').getContext('2d');
            const eachDT = new Chart(eachctx, {
                type: 'pie',
                data: {
                    labels:@Html.Raw(Model.formatEaLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatEaDatas),
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ]@*@Html.Raw(Model.formatBackgrounds)*@,
                        borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                        ]@*@Html.Raw(Model.formatBorders)*@
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                            labels: {} 
                        },
                        title: {
                            display: false,
                            text: ''
                        }
                    }
                }
            });

            </script>
