@page "{arglot}"
@model NexenHub.Pages.LotModel
@{
    ViewData["pageTitle"] = Model.lotitem.LOT_ID;

    string lotStateStyle = Model.lotitem.LotState == "H" || Model.lotitem.LotState == "Z" ? "bg-warning" : "";

    string itemStateStyle;

    if (Model.lotitem.State == "S" || Model.lotitem.State == "B")
        itemStateStyle = "bg-danger text-white";
    else if (Model.lotitem.State == "H")
        itemStateStyle = "bg-warning";
    else
        itemStateStyle = "";

    string cartStateStyle = Model.lotitem.CartState == "E" ? "bg-warning" : "";

    DateTime nowDate = DateTime.Now;

    string ageTimeStyle = Model.lotitem.dateAgingTime > nowDate ? "list-group-item-danger" : "";
    string expiryTimeStyle = Model.lotitem.dateExpiry <= nowDate ? "list-group-item-danger" : "";


}

<script type="text/javascript">

    function ToogleLotParents() {
        var pc = document.getElementById("lotParentsChart");
        pc.style["display"] = pc.style["display"] == "none" ? "block" : "none";
    }

</script>


<!-- Top bar -->
<div class="container-fluid">


    <!-- BAD SCRAP -->
    @if (Model.lotitem.State == "B" || Model.lotitem.State == "S")
        {
            <div class="row border-2 border-bottom p-2 bg-danger text-white">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        @if (Model.lotitem.State == "B")
                            {
                                <h5 class="p-2">BAD</h5>
                            }
                            else
                            {
                                <h5 class="p-2">SCRAP</h5>
                            }
                    </div>
                </div>
            </div>
        }

    <!-- TEST -->
    @if (Model.lotitem.Test)
        {
            <div class="row border-2 border-bottom p-2 bg-warning text-dark">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h5>Prototype</h5>
                    </div>
                </div>
            </div>

        }

    <!-- Main info -->
    <div class="row border-bottom border-2 p-3" style="background-color: #f7f7f7;">

        <div class="col-md-4">

            <div class="row">
                <div class="col">
                    <h4>@Model.lotitem.LOT_ID</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row text-muted">

                        <div class="p-2">@Model.lotitem.WC_ID</div>

                        <div class="p-2">/</div>
                        <div class="p-2">@Model.lotitem.ProcId</div>

                        <div class="p-2">/</div>
                        <div class="p-2"><a href="~/MachineProfile/@Model.lotitem.EQ_ID">@Model.lotitem.EQ_NAME</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">

            <div class="row text-muted">
                <div class="col">
                    <h5>@Model.lotitem.ID</h5>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <h3>@Model.lotitem.Name</h3>
                </div>

            </div>

            @{ if (!string.IsNullOrEmpty(Model.lotitem.PROTOTYPE_ID))
                {
                    <div class="row mt-1 text-muted">
                        <div class="col">
                            <h5>@Model.lotitem.PROTOTYPE_ID</h5>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            <h4>@Model.lotitem.PROTOTYPE_VER</h4>
                        </div>

                    </div>
                }

            }

        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row-reverse">
                        <img class="img-fluid img-thumbnail" src="data:image/png;base64, @Model.lotBarcode.GetBase64Image()" style="max-height:10vh;width:100%;" />
                    </div>
                </div>
            </div>

            @*<div class="row ">
                    <div class="col">
                        <div class="d-flex flex-row-reverse text-muted">
                            <div class="p-2">RGB: @Model.ShiftInfo.SHIFT_RGB</div>
                            <div class="p-2">Shift: @Model.ShiftInfo.SHIFT</div>
                        </div>
                    </div>
                </div>*@

        </div>

    </div>

</div>

<!-- Parents -->
<div id="lotParentsChart" class="container-fluid" style="display:none;">
    @await Component.InvokeAsync("LotParents", Model.lotitem.LOT_ID)
</div>

<!-- Main content -->
<div class="container-fluid">

    <div class="row">

        <div class="col-xl-3 bg-white">

            <div class="d-flex justify-content-between">
                <h5 class="m-3">Made from</h5>
                <h5 class="m-3 nav-link" onclick="ToogleLotParents()" style="cursor:pointer;">Parental tree</h5>
            </div>
            

            <div class="list-group-flush p-0 mt-3 h-100">

                @{
                    foreach (Models.LotItem parent in Model.Parents)
                    {
                        <a class="list-group-item list-group-item-action" href="~/lot/@parent.LOT_ID" target="_blank">

                            <div class="d-flex justify-content-between">
                                <span class="text-muted">@parent.LOT_ID</span>
                            </div>

                            <div class="d-flex justify-content-end">
                                <span class="text-muted">@parent.Name</span>
                            </div>

                        </a>
                    }
                }

            </div>

        </div>

        <div class="col-xl-6 bg-white">

            <div class="row my-3 g-3">

                <div class="col-lg">

                    <div class="card @lotStateStyle">
                        <div class="card-header text-center">
                            LOT STATE
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">
                                @Model.lotitem.LotState
                            </h3>
                        </div>
                    </div>

                </div>

                <div class="col-lg">

                    <div class="card @itemStateStyle">
                        <div class="card-header text-center">
                            ITEM STATE
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">
                                @Model.lotitem.State
                            </h3>
                        </div>
                    </div>

                </div>

                <div class="col-lg">

                    <div class="card">
                        <div class="card-header text-center">
                            CART STATE
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">
                                @Model.lotitem.CartState
                            </h3>
                        </div>
                    </div>

                </div>

                <div class="col-lg">

                    <div class="card">
                        <div class="card-header text-center">
                            STOCK
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">
                                @Model.lotitem.StockQty
                            </h3>
                        </div>
                    </div>

                </div>

                <div class="col-lg">

                    <div class="card">
                        <div class="card-header text-center">
                            PRODUCTION
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">
                                @Model.lotitem.ProdType
                            </h3>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row my-3">

                <div class="col-md-7">

                    <table class="table table-hover">
                        <tr>
                            <td>Produced</td>
                            <td>@Model.lotitem.dateProdTime</td>
                        </tr>
                        <tr class="@ageTimeStyle">
                            <td>Aging</td>
                            <td>@Model.lotitem.dateAgingTime</td>
                        </tr>
                        <tr class="@expiryTimeStyle">
                            <td>Expiry</td>
                            <td>@Model.lotitem.dateExpiry</td>
                        </tr>
                        <tr>
                            <td>Registered by</td>
                            <td>@Model.lotitem.USER_NAME</td>
                        </tr>
                    </table>

                </div>

                <div class="col-md-5">

                    <table class="table table-hover">
                        <tr>
                            <td>Group</td>
                            <td>@Model.lotitem.Grp</td>
                        </tr>
                        <tr>
                            <td>Process</td>
                            <td>@Model.lotitem.ProcId</td>
                        </tr>
                        <tr>
                            <td>Kind</td>
                            <td>@Model.lotitem.Kind</td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>

        <div class="col-xl-3 bg-white justify-content-center">

            <h5 class="m-3">History</h5>

            <ul class="list-group-flush p-0 mt-3 h-100">

                @{
                    foreach (Models.LotHisItem history in Model.lotitem.History.OrderByDescending(x => x.transDate))
                    {
                        <li class="list-group-item list-group-item-action">

                            <div class="d-flex justify-content-between">
                                <span class="text-muted">@history.transDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                <span class="text-muted">@history.qtyUnit</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span class="fw-bold">@history.locationName</span>
                            </div>

                            <div class="d-flex justify-content-between">
                                <span>@history.lotState</span>
                                <span>@history.itemState</span>
                            </div>

                        </li>
                    }
                }

            </ul>

        </div>


    </div>

</div>