@page
@model NexenHub.Pages.MachineListModel
@{
}

<div class="container">

    <div class="accordion accordion-flush" id="accordionControl">

        @{foreach (string proc in Model.Procs)
                        {

                            string ProcName;
                            switch (proc)
                            {
                                case "M":
                                    ProcName = "Mixing";
                                    break;
                                case "E":
                                    ProcName = "Extruding";
                                    break;
                                case "C":
                                    ProcName = "Calendering";
                                    break;
                                case "P":
                                    ProcName = "Cutting";
                                    break;
                                case "B":
                                    ProcName = "Bead";
                                    break;
                                case "T":
                                    ProcName = "TBM";
                                    break;
                                case "U":
                                    ProcName = "Curing";
                                    break;
                                case "O":
                                    ProcName = "Foaming";
                                    break;
                                default:
                                    ProcName = proc;
                                    break;

                            }

                <div class="accordion-item">

                    <h2 class="accordion-header" id="heading_@proc">
                        <button class="accordion-button text-light" style="background-color: #434c57; " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@proc" aria-expanded="true" aria-controls="#collapse_@proc">
                            @Html.Raw(ProcName)
                        </button>
                    </h2>

                    <div id="collapse_@proc" class="bg-soma-dark accordion-collapse collapse " aria-labelledby="heading_@proc" data-bs-parent="#accordionControl">
                        <div class="accordion-body">

                            <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">

                                @foreach (Class.MachineListObject man in Model.DbList.FindAll(x => x.WC_ID == proc))
                                {

                                    <div class="col">
                                        <div class="card h-100 caption-top">
                                            <div class="card-header">
                                                <div class="d-flex justify-content-between">
                                                    <div>@man.Name</div>
                                                    <div>@man.EQ_ID</div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex justify-content-evenly">
                                                    <div>@man.WC_ID</div>
                                                    <div>@man.PROC_ID</div>
                                                </div>
                                                <div class="d-flex">
                                                    <a class="flex-grow-1 btn btn-success btn-sm m-1" href="/MachineProfile/@man.EQ_ID">Detail</a>
                                                    <a class="flex-grow-1 btn btn-primary btn-sm m-1" href="/MachineReport/@man.EQ_ID/@DateTime.Now.AddHours(-6).ToString("yyyy-MM-dd")">Report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>


                        </div>
                    </div>
                </div>



            }
        }


    </div>
                    </div>
                    @*<div class="btn-toolbar mb-3" role="toolbar">

                        <div class="btn-group " role="group">

                            <form method="get">
                                <button class="page-link bg-dark text-light border-secondary mr-3">ALL</button>
                            </form>

                            <form method="post">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="M">MIX</button>
                                        </li>
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="C">CAL</button>
                                        </li>
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="B">BEAD</button>
                                        </li>
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="E">EXT</button>
                                        </li>
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="P">CUT</button>
                                        </li>
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="T">TBM</button>
                                        </li>
                                        <li class="page-item">
                                            <button class="page-link bg-dark text-light border-secondary" asp-page-handler="filter" asp-route-id="U">CUR</button>
                                        </li>
                                    </ul>
                                </nav>
                            </form>

                        </div>
                    </div>

                    <div>
                        <table class="table table-sm table-striped table-hover table-secondary text-center">

                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col" class="text-left">NAME</th>
                                    <th scope="col">WC</th>
                                    <th scope="col">PROC</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ foreach (var machine in Model.DbList)
                {


                                                <tr>
                                                    <th scope="row">@machine.EQ_ID</th>
                                                    <td>@machine.Name</td>
                                                    <td>@machine.WC_ID</td>
                                                    <td>@machine.PROC_ID</td>
                                                    <td class="justify-content-between">
                                                        <a class="btn btn-success btn-sm" href="/MachineProfile/@machine.EQ_ID">Detail</a>
                                                        <a class="btn btn-primary btn-sm" href="/MachineReport/@machine.EQ_ID/@DateTime.Now.AddHours(-6).ToString("yyyy-MM-dd")">Shift report</a>
                                                    </td>
                                                </tr>

                                    }
                                }

                            </tbody>
                        </table>
                    </div>*@


