@page "{EQ_ID}"
@model NexenHub.Pages.MachineProfileModel
@{
}

<div class="container text-light">

    <div class="row">
        <div class="col d-flex justify-content-center mb-3">
            <h4>@Model.machineBasic.Name</h4>
        </div>
    </div>

    <!-- WO + DownTimes -->
    <div class="row mb-3">

        <div class="col col-lg-7">

            <div class="row mb-3">
                @*<div class="col">*@

                 <div class="card @{if (Model.WO.TEST_YN == "Y") { @Html.Raw("bg-warning text-dark") } else { @Html.Raw("bg-soma-darklight") } }">

                        <div class="card-body">
                            <div class="card-title ">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        @{
                                            if (@Model.WO.TEST_YN == "Y")
                                            {
                                                <div class="flex-fill badge bg-warning text-dark">PROTOTYPE</div>
                                            }
                                        }
                                    </div>
                                    
                                        @{

                                            if (!string.IsNullOrEmpty(@Model.WO.PROD_TYPE))
                                            {
                                            <div>
                                                <span class="badge bg-dark">@Model.WO.PROD_TYPE</span>
                                            </div>
                                            }

                                            if (@Model.WO.OE)
                                            {
                                            <div>
                                                <span class="badge bg-primary">OE</span>
                                            </div>
                                            }


                                        }
                                    
                                </div>
                            </div>


                            <div class="container">
                                <div class="d-flex">
                                    <div class="flex-grow-1">@Model.WO.WO_NO</div>
                                    <div>@Model.WO.WO_STIME</div>
                                </div>

                                <div class="row mt-3 mb-3">
                                    <div class="col text-center"><h3>@Model.WO.ITEM_ID <br /> @Model.WO.ITEM_NAME</h3></div>
                                </div>

                                @{
                                    if (@Model.WO.TEST_YN == "Y")
                                    {
                                        <div class="row">
                                            <div class="col text-center">@Model.WO.PROTOTYPE_ID <br /> @Model.WO.PROTOTYPE_VER </div>
                                        </div>
                                    }
                                }

                            </div>

                        </div>
                    </div>
                @*</div>*@
            </div>

            <div class="row">
                <div class="col">
                    @{
                        if (!string.IsNullOrEmpty(Model.machineBasic.EQ_ID))
                        {
                            @await Component.InvokeAsync("MachineReportProd", Model.machineProduction)
                        }
                    }
                </div>
            </div>

        </div>

        <div class="col col-lg-5">

            @{ if (!string.IsNullOrEmpty(Model.ActNonWork))
                {

                <div class="row mb-3">
                    <div class="col">
                        <div class="card text-white bg-danger">

                            <div class="card-header text-center">
                                @Model.ActNonWork
                            </div>

                        </div>
                    </div>
                </div>

                }
            }

        <div class="row">
            <div class="col">
                <div class="card bg-soma-darklight">
                    <div class="card-body">
                        <div class="card-title">
                            Shift downtimes
                        </div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>

    <!-- Material in use -->
    <div class="row mb-3">

        <div class="col-lg-7 mb-3">
            <div class="card bg-soma-darklight">
                <div class="card-body">
                    <div class="card-title"><h5>Material in use</h5></div>
                    <table class="table table-sm table-borderless text-light" style="background-color:transparent;">
                        <tbody>

                            @{ foreach (var material in Model.Inputed)
                                {
                                    if (material.IsInBom)
                                    {
                                        <tr>
                                            <td>@material.IO_POSID</td>
                                            <td>@material.CART_ID</td>
                                            <td><a class="btn-link" href="../esl/@material.LOT_ID" target="_blank">@material.LOT_ID</a></td>
                                            <td class="font-weight-bold">@material.ITEM_ID</td>
                                            <td>@material.ITEM_NAME</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="table-danger">
                                            <td>@material.IO_POSID</td>
                                            <td>@material.CART_ID</td>
                                            <td><a class="btn-link" href="../esl/@material.LOT_ID" target="_blank">@material.LOT_ID</a></td>
                                            <td class="font-weight-bold">@material.ITEM_ID</td>
                                            <td>@material.ITEM_NAME</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-lg-5 mb-3">

            @{
                if (Model.WO.TEST_YN == "Y")
                {
                    @Html.Raw("<div class=\"card bg-warning text-dark\">")
                    @Html.Raw("<div class=\"card-body\">")
                }
                else
                {
                    @Html.Raw("<div class=\"card bg-soma-darklight text-light\">")
                    @Html.Raw("<div class=\"card-body\">")
                }
            }

            @{ if (Model.WO.TEST_YN == "Y")
                {
                    <div class="card-title">
                        <h5>@Html.Raw("Prototype BOM")</h5>
                    </div>
                }
                else
                {
                    <div class="card-title">
                        <h5>@Html.Raw("BOM")</h5>
                    </div>
                }
            }

            <table class="table table-sm table-borderless text-light">
                <tbody>

                    @{ foreach (var material in Model.BOM)
                        {
                            <tr>
                                <th scope="row">@material.ITEM_ID</th>
                                <td>@material.ITEM_NAME</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            @Html.Raw("</div></div>")

        </div>
    </div>

</div>


<script>

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: @Html.Raw(Model.chartlabels),
            datasets: [@Html.Raw(Model.chartdataset)],
            borderWidth: 0
        },
        options: {
            maintainAspectRatio: true,
            responsive: true,
            plugins: {
                legend: {
                    position: 'right',
                    labels: {
                        color: 'white'
                    }
                }
            }
        }
    });

</script>