@page "{EQ_ID}"
@model NexenHub.Pages.MachineProfileModel
@{
}

<div class="container">

    <div class="row">
        <div class="col-12 mb-3">
            <div class="h3">@Model.machineBasic.Name</div>
        </div>
    </div>

    <!-- WO + DownTimes -->
    <div class="row mb-3">

        <div class="col-12 col-lg-7">

            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-dark text-light">
                            Workorder
                            <span class="float-right">
                                @{

                                    if (!string.IsNullOrEmpty(@Model.WO.PROD_TYPE))
                                    {
                                    <span class="badge badge-dark">@Model.WO.PROD_TYPE</span>
                                    }

                                    if (@Model.WO.OE)
                                    {
                                    <span class="badge badge-primary">OE</span>
                                    }

                                    if (@Model.WO.TEST_YN == "Y")
                                    {
                                    <span class="badge badge-warning">PROTOTYPE</span>
                                    }
                                }
                            </span>

                        </div>
                        <div class="card-body">

                            <div class="container">
                                <div class="row">
                                    <div class="col">@Model.WO.WO_NO</div>
                                    <div class="col text-right">@Model.WO.WO_STIME</div>
                                </div>

                                <div class="row mt-3 mb-3">
                                    <div class="col text-center"><h3>@Model.WO.ITEM_ID <br /> @Model.WO.ITEM_NAME</h3></div>
                                </div>

                                @{
                                    if (@Model.WO.TEST_YN == "Y")
                                    {
                                    <div class="row">
                                        <div class="col text-center">@Model.WO.PROTOTYPE_ID <br /> @Model.WO.PROTOTYPE_VER </div>
                                    </div>
                                    }
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-5">

            @{ if (!string.IsNullOrEmpty(Model.ActNonWork))
                {

                <div class="row mb-3">
                    <div class="col">
                        <div class="card text-white bg-danger">

                            <div class="card-header text-center">
                                @Model.ActNonWork
                            </div>

                        </div>
                    </div>
                </div>

                }
            }

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-dark text-light">
                            Shift downtimes
                        </div>
                        <div class="card-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Material in use -->
    <div class="row mb-3">
        <div class="col-lg-7 mb-3">
            <div class="card">
                <div class="card-header bg-dark text-light">Material in use</div>
                <div class="card-body">

                    <table class="table table-sm table-borderless table-hover">
                        <tbody>

                            @{ foreach (var material in Model.Inputed)
                                {
                                    if (material.IsInBom)
                                    {
                                <tr class="table-success">
                                    <td>@material.IO_POSID</td>
                                    <td>@material.CART_ID</td>
                                    <td><a class="btn-link" href="../esl/@material.LOT_ID" target="_blank">@material.LOT_ID</a></td>
                                    <td class="font-weight-bold">@material.ITEM_ID</td>
                                    <td>@material.ITEM_NAME</td>
                                </tr>
                                    }
                                    else
                                    {
                                <tr>
                                    <td>@material.IO_POSID</td>
                                    <td>@material.CART_ID</td>
                                    <td><a class="btn-link" href="../esl/@material.LOT_ID" target="_blank">@material.LOT_ID</a></td>
                                    <td class="font-weight-bold">@material.ITEM_ID</td>
                                    <td>@material.ITEM_NAME</td>
                                </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-lg-5 mb-3">
            <div class="card">

                @{ if (Model.WO.TEST_YN == "Y")
                    {
                    <div class="card-header bg-warning text-dark">
                        @Html.Raw("Prototype BOM")
                    </div>
                    }
                    else
                    {
                    <div class="card-header bg-dark text-light">
                        @Html.Raw("BOM")
                    </div>
                    }
                }
                <div class="card-body">

                    <table class="table table-sm table-hover table-borderless">
                        <tbody>

                            @{ foreach (var material in Model.BOM)
                                {
                                <tr>
                                    <th scope="row">@material.ITEM_ID</th>
                                    <td>@material.ITEM_NAME</td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- Production chart -->
    <div class="row mb-3">
        <div class="col">
            @{
                if (!string.IsNullOrEmpty(Model.machineBasic.EQ_ID))
                {
                @await Component.InvokeAsync("MachineReportProd", Model.machineProduction)
                }
            }
        </div>
    </div>

</div>


<script>

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: @Html.Raw(Model.chartlabels),
            datasets: [@Html.Raw(Model.chartdataset)]
        },
    options:
    {
        responsive: true
    }
    });

</script>

<style>
    .vis-item.vis-background.negative {
        background-color: rgba(255, 0, 0, .7);
    }
</style>
