@page "{EQ_ID}"
@model NexenHub.Pages.MachineProfileModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="h4">@Model.machineBasic.Name</div>
        </div>
    </div>
    <div class="row">

        <div class="col-7">
            
            @*<div class="container">*@
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Workorder
                                <span class="float-right">
                                    @{

                                        if (!string.IsNullOrEmpty(@Model.WO.PROD_TYPE))
                                        {
                                        <span class="badge badge-secondary">@Model.WO.PROD_TYPE</span>
                                        }

                                        if (@Model.WO.OE)
                                        {
                                        <span class="badge badge-primary">OE</span>
                                        }

                                        if (@Model.WO.TEST_YN == "Y")
                                        {
                                        <span class="badge badge-warning">PROTOTYPE</span>
                                        }
                                    }
                                </span>

                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">
                                        <div class="col"><b>@Model.WO.WO_NO</b></div>
                                        <div class="col text-right">@Model.WO.WO_STIME</div>
                                    </div>

                                    <div class="row mt-3 mb-3">
                                        <div class="col text-center">@Model.WO.ITEM_ID / @Model.WO.ITEM_NAME</div>
                                    </div>

                                    @{
                                        if (@Model.WO.TEST_YN == "Y")
                                        {
                                            <div class="row">
                                                <div class="col text-center">@Model.WO.PROTOTYPE_ID / @Model.WO.PROTOTYPE_VER </div>
                                            </div>
                                        }
                                    }

                                    @*<div class="row mt-3">
                                        <div class="col">
                                            <div class="progress" style="height: 20px;">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: @Model.QuantityPrc.ToString()%;">@Model.WO.PROD_QTY / @Model.WO.WO_QTY</div>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            @*</div>*@

        </div>
        
        <div class="col-5">

            @*<div class="container">*@

                @{ if (!string.IsNullOrEmpty(Model.ActNonWork))
                   {

                    <div class="row mb-3">
                        <div class="col">
                            <div class="card text-white bg-danger">

                                <div class="card-header text-center">
                                    @Model.ActNonWork
                                </div>

                            </div>
                        </div>
                    </div>

                   } 
                }

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Shift downtimes
                            </div>
                            <div class="card-body">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            @*</div>*@

        </div>

    </div>

    <div class="row mt-3">
        <div class="col-7">
            <div class="card">
                <div class="card-header">Material in use</div>
                <div class="card-body">

                    <table class="table table-sm table-borderless table-hover">
                        <thead>
                            <tr>
                                <th scope="col">POS</th>
                                <th scope="col">CART ID</th>
                                <th scope="col">ITEM ID</th>
                                <th scope="col">ITEM NAME</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{ foreach (var material in Model.Inputed)
                                {
                                    <tr>
                                        <td>@material.IO_POSID</td>
                                        <td>@material.CART_ID</td>
                                        <td>@material.ITEM_ID</td>
                                        <td>@material.ITEM_NAME</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card">

                @{ if (Model.WO.TEST_YN == "Y")
                    {
                      <div class="card-header bg-warning">
                       @Html.Raw("Prototype BOM")
                      </div>
                    }
                    else
                    {
                        <div class="card-header">
                            @Html.Raw("BOM")
                        </div>
                    }                        
                  }
                        <div class="card-body">

                            <table class="table table-sm table-hover table-borderless">
                                <tbody>

                                    @{ foreach (var material in Model.BOM)
                                        {
                                            <tr>
                                                <th scope="row">@material.ITEM_ID</th>
                                                <td>@material.ITEM_NAME</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
        </div>
    </div>
    
</div>

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: @Html.Raw(Model.chartlabels),
            datasets: [@Html.Raw(Model.chartdataset)]
        },
    options:
    {
        responsive: true
    }
    });
</script>
