@page
@model NexenHub.Pages.MachineListModel
@{
    ViewData["mainSelected"] = "machines";
}

<div class="container my-2">

    <div class="accordion accordion-flush" id="accordionControl">

        @{foreach (string proc in Model.Procs)
                        {

                            string ProcName;
                            switch (proc)
                            {
                                case "M":
                                    ProcName = "Mixing";
                                    break;
                                case "E":
                                    ProcName = "Extruding";
                                    break;
                                case "C":
                                    ProcName = "Calendering";
                                    break;
                                case "P":
                                    ProcName = "Cutting";
                                    break;
                                case "B":
                                    ProcName = "Bead";
                                    break;
                                case "T":
                                    ProcName = "TBM";
                                    break;
                                case "U":
                                    ProcName = "Curing";
                                    break;
                                case "O":
                                    ProcName = "Foaming";
                                    break;
                                default:
                                    ProcName = proc;
                                    break;

                            }

                <div class="accordion-item">

                    <h2 class="accordion-header" id="heading_@proc">
                        <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@proc" aria-expanded="true" aria-controls="#collapse_@proc">
                            @Html.Raw(ProcName)
                        </button>
                    </h2>

                    <div id="collapse_@proc" class="accordion-collapse collapse " aria-labelledby="heading_@proc">
                        <!-- data-bs-parent="#accordionControl"-->
                        <div class="accordion-body p-0">
                        <div class="row">
                            <div class="col-md">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover text-center align-middle">

                                        @foreach (Class.MachineListObject man in Model.DbList.FindAll(x => x.WC_ID == proc && x.FACT_ID == "NEX1"))
                                        {
                                            <tr>
                                                <td class="text-start">@man.EQ_ID</td>
                                                    <td>@man.Name</td>
                                                    <td>@man.FACT_ID</td>
                                                    <td>@man.WC_ID</td>
                                                    <td>@man.PROC_ID</td>
                                                <td class="text-end">
                                                    <a class="flex-grow-1 btn btn-primary btn-sm m-1" href="/MachineProfile/@man.EQ_ID">Detail</a>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover text-center align-middle">

                                            @foreach (Class.MachineListObject man in Model.DbList.FindAll(x => x.WC_ID == proc && x.FACT_ID == "NEX2"))
                                        {
                                            <tr>
                                                <td class="text-start">@man.EQ_ID</td>
                                                    <td>@man.Name</td>
                                                    <td>@man.FACT_ID</td>
                                                    <td>@man.WC_ID</td>
                                                    <td>@man.PROC_ID</td>
                                                <td class="text-end">
                                                    <a class="flex-grow-1 btn btn-primary btn-sm m-1" href="/MachineProfile/@man.EQ_ID">Detail</a>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>



            }
        }


    </div>

</div>



