@model NexenHub.Models.WoList
@{

}

<div class="card bg-soma-darklight">
    <h6 class="card-header">Workorders</h6>
    <div class="card-body p-0" style="overflow-y:auto;max-height:30vh;">
        <div class="list-group list-group-flush">
            @{
                foreach (var wo in @Model.Workorders)
                {

                    string tst = @wo.TEST_YN == "Y" ? "list-group-item-warning" : "bg-soma-darklight text-light";

                        <div class="list-group-item @tst">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <span>@wo.WO_NO</span>
                                <small>@wo.STIME_DATE</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <span>@wo.ITEM_ID</span>
                                <span>@wo.ITEM_NAME</span>
                            </div>
                        </div>
                } 
             }
                </div>
    </div>
</div>