@model NexenHub.Models.WoList
@{
    string tst ;
}

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <h6 class="flex-grow-1">Workorders</h6>
            <span id="wl_showFinished" class="badge bg-primary" style="cursor:pointer;" onclick="wlToogle(true)">Show finished</span>
            <span id="wl_hideFinished" class="badge bg-danger" style="cursor:pointer;display:none;" onclick="wlToogle(false)">Hide finished</span>
        </div>
    </div>

    <div class="card-body p-0" style="overflow-y:auto;height:25vh;">

        <table id="wl_finishedWo" class="table table-striped table-hover mb-0" style="display:none;">
            @{
                foreach (var wo in @Model.Workorders.FindAll(w => w.WO_PROC_STATE == "F").OrderBy(x=>x.WO_ETIME))
                {
                    tst = "table-danger";

                        <tr class="@tst">
                                <td>@wo.WO_NO</td>
                                <td>@wo.STIME_DATE.ToString("dd.MM. HH:mm:ss") @Html.Raw(" -> ") @wo.ETIME_DATE.ToString("dd.MM. HH:mm:ss")</td>
                                <td>@wo.ITEM_ID</td>
                                <td>@wo.ITEM_NAME</td>
                        </tr>
                }
            }
        </table>

        <table class="table table-hover">
            @{
                foreach (var wo in @Model.Workorders.FindAll(w => w.WO_PROC_STATE != "F").ToList())
                {
                    tst = "";

                    @if (wo.WO_PROC_STATE == "S")
                    {
                        tst = "table-primary";
                    }
                    else if (wo.TEST_YN == "Y")
                    {
                        tst = "table-warning";
                    }

             <tr class="@tst">
               
                    <td>@wo.WO_NO</td>
                    <td>
                        @{
                            if (wo.WO_PROC_STATE == "S")
                            {
                                @wo.STIME_DATE.ToString("dd.MM. HH:mm:ss")
                            }
                            else if (wo.WO_PROC_STATE == "W" && !string.IsNullOrEmpty(wo.PLAN_STIME) && !string.IsNullOrEmpty(wo.PLAN_ETIME))
                            {
                                @wo.PLAN_STIME_DATE.ToString("dd.MM. HH:mm:ss") @Html.Raw(" -> ") @wo.PLAN_ETIME_DATE.ToString("dd.MM. HH:mm:ss")
                            }
                        }

                    </td>
                    <td>@wo.ITEM_ID</td>
                    <td>@wo.ITEM_NAME</td>
                
            </tr>
                }
            }
        </table>
    </div>
    </div>

<script type="text/javascript">

    function wlToogle(show)
    {
        var wlCompList = document.getElementById('wl_finishedWo');
        var wlShowButton = document.getElementById('wl_showFinished');
        var wlHideButton = document.getElementById('wl_hideFinished');

        if (show)
        {
            wlCompList.style["display"] = "table";
            wlShowButton.style["display"] = "none";
            wlHideButton.style["display"] = "block";
        }
        else
        {
            wlCompList.style["display"] = "none";
            wlShowButton.style["display"] = "block";
            wlHideButton.style["display"] = "none";
        }
        
    }

</script>