@model NexenHub.ViewModels.MachineWoViewModel
@{}

<div id="@Html.Raw(Model.EQ_ID + "_cardWo")" class="card text-center">
    <div class="card-body">
        <h5 class="text-start mb-3">Current production</h5>

        <h5 class="font-weight-300" id="@Html.Raw(Model.EQ_ID + "_woItemId")"></h5>
        <h5 class="text-truncate" id="@Html.Raw(Model.EQ_ID + "_woItemName")"></h5>
        <h6 class="font-weight-300" id="@Html.Raw(Model.EQ_ID + "_woProtId")"></h6>
        <h6 class="text-truncate" id="@Html.Raw(Model.EQ_ID + "_woProtVer")"></h6>

        <div class="table-responsive border-top">
        <table id="@Html.Raw(Model.EQ_ID + "_woBomTable")" class="table table-sm table-hover table-borderless"></table>
        </div>

    </div>           
</div>

<script type="text/javascript">

    document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                getWoInfo();
                break;
            case "complete":
                setInterval(getWoInfo, 10000);
                break;
        }
    });

    async function getWoInfo(){
        await fetch(window.location.origin + '/api/cockpit/actWo/' + @Model.EQ_ID)
            .then(response => response.json())
            .then(data => displayWoInfo(data));
    }

    async function getBom(item){
        return await fetch(window.location.origin + '/api/cockpit/bom/' + item)
            .then(response => response.json());
    }

        async function getProtBom(item,prot,ver){
        return await fetch(window.location.origin + '/api/cockpit/protbom/' + item + '/' + prot + '/' + ver)
            .then(response => response.json());
    }

    async function displayWoInfo(data)
    {
        var cardWo = document.getElementById('@Html.Raw(Model.EQ_ID + "_cardWo")');
        var itemid = document.getElementById('@Html.Raw(Model.EQ_ID + "_woItemId")');
        var itemName = document.getElementById('@Html.Raw(Model.EQ_ID + "_woItemName")');
        var bomTable = document.getElementById('@Html.Raw(Model.EQ_ID + "_woBomTable")');
        var protId = document.getElementById('@Html.Raw(Model.EQ_ID + "_woProtId")');
        var protVer = document.getElementById('@Html.Raw(Model.EQ_ID + "_woProtVer")');

        cardWo.classList.remove('bg-warning', 'text-dark');
        cardWo.classList.remove('bg-primary', 'text-light');

        itemid.innerHTML = 'No active workorder';
        itemName.innerHTML = '';
        protId.innerHTML = '';
        protVer.innerHTML = '';

        var innerCode = '';

        if (data['WO_EXISTS'] == true)
        {

            itemid.innerHTML = data['ITEM_ID'];
            itemName.innerHTML = data['ITEM_NAME'];
        
            var isTest = data['TEST_YN'] == 'Y';
            var isOE = data['OE'] == true;

            if (isTest)
            {
                //cardWo.classList.add('bg-warning', 'text-dark');
                
                protId.innerHTML = data['PROTOTYPE_ID'];
                protVer.innerHTML = data['PROTOTYPE_VER'];

            }
            else if (isOE)
            {
               // cardWo.classList.add('bg-primary', 'text-light');
            }

            // BOM
            var bom;

            if (isTest)
                bom = await getProtBom(data['ITEM_ID'], data['PROTOTYPE_ID'], data['PROTOTYPE_VER']);
            else
                bom = await getBom(data['ITEM_ID']);

            bom.forEach(bomItem=>{
                innerCode += '<tr><td><b>' + bomItem['ITEM_ID'] + '</b></td><td>' + bomItem['ITEM_NAME'] + '</td></tr>';
            });
             


        }

        bomTable.innerHTML = innerCode;
    }

</script>