@model NexenHub.ViewModels.MachineTagnameViewModel
@{}

<div id="@Html.Raw(Model.MachineInfo.EQ_ID + "_downTimeFrame")" class="row p-3 text-center">
    <h5 id="@Html.Raw(Model.MachineInfo.EQ_ID + "_downTimeMsg")" class="text-uppercase"></h5>
</div>

    <div class="row bg-white text-dark p-2">
        <h5>@Model.MachineInfo.Name</h5>
        <div class="text-muted">@Model.MachineInfo.WC_ID / @Model.MachineInfo.PROC_ID / @Model.MachineInfo.EQ_ID</div>
    </div>

<script type="text/javascript">

document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                SetPageTitle('@Html.Raw(Model.MachineInfo.Name)');
                break;
            case "interactive":
                refreshMachineInfo();
                break;
            case "complete":
                setInterval(refreshMachineInfo, 10000);
                break;
        }
    });


    async function refreshMachineInfo(){
        await machineDowntime(@Model.MachineInfo.EQ_ID);
    }

    async function machineDowntime(eqid)
    {
        return await fetch(window.location.origin + '/api/prod/actDowntime/' + eqid)
            .then(response => response.json())
            .then(data => 
            {
                var msg = 'Fine';
                var msgStyle = 'bg-github-green';
                var msgcolor = 'text-white';

                var msgElement = document.getElementById('@Html.Raw(Model.MachineInfo.EQ_ID + "_downTimeMsg")');
                var frameElement = document.getElementById('@Html.Raw(Model.MachineInfo.EQ_ID + "_downTimeFrame")');

                var title = '';

                frameElement.classList.remove('bg-github-green', 'bg-warning', 'bg-github-red');
                msgElement.classList.remove('text-white','text-black');

                if (data['Code'] != '')
                {
                    msg = data['Description'];
                    title = ' | ' + msg;
                    if (data['Code'] == 'N016')
                    {
                        msgStyle = 'bg-warning';
                        msgcolor = 'text-black';
                    }
                    else
                    {
                        msgStyle = 'bg-github-red';
                    }
                }
                
                SetPageTitle('@Html.Raw(Model.MachineInfo.Name)' + title);

                msgElement.innerHTML = msg;
                frameElement.classList.add(msgStyle);
                msgElement.classList.add(msgcolor);
            });
    }
    
</script>
