<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexenHub</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="bg-soma-dark">

    <script src="~/lib/chart/dist/chart.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/vis/dist/vis.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @{
        string machineSelected = (string)ViewData["mainSelected"] == "machines" ? "active" : "";
        string eslSelected = (string)ViewData["mainSelected"] == "esl" ? "active" : "";
        string rexSelected = (string)ViewData["mainSelected"] == "rex" ? "active" : "";
    }

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-soma-darklight text-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/images/logo/logo_light.png" width="200" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @machineSelected" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Machines
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/MachineList">List</a>
                                <a class="dropdown-item" href="/MachineReport">Report</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @eslSelected" asp-area="" asp-page="/CartsInfo">ESL</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dashboards
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" href="/dashboard/tv">PM & Network</a>
                                <a class="dropdown-item" target="_blank" href="/dashboard/tbmdefect/1/60">TBM Defect monitoring</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Downtimes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" href="/dashboard/status/T">TBM</a>
                                <a class="dropdown-item" target="_blank" href="/dashboard/Status/M">Mix</a>
                                <a class="dropdown-item" target="_blank" href="/dashboard/status/C">Calender</a>
                                <a class="dropdown-item" target="_blank" href="/dashboard/Status/B">Bead</a>
                                <a class="dropdown-item" target="_blank" href="/dashboard/Status/E">Extruder</a>
                                <a class="dropdown-item" target="_blank" href="/dashboard/Status/P">Cutting</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @rexSelected" asp-area="" asp-page="/Rex">ReX</a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        <div class="input-group">
                            <input class="text-center form-control" placeholder="CART / LOT" onkeyup="searchMat(event,this)" />
                        </div>
                    </div>

                </div>
            </div>
        </nav>

    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-soma-darklight">
        <div class="container">
            <div class="row">
                <div class="col">&copy; 2021 - NexenHub</div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
