@using NexenHub.Class;
@using NexenHub.Models;
@{
    string machineSelected = (string)ViewData["mainSelected"] == "machines" ? "active" : "";

    string radSelected = (string)ViewData["mainSelected"] == "rad" ? "active" : "";
    string eslSelected = (string)ViewData["mainSelected"] == "esl" ? "active" : "";
    string rexSelected = (string)ViewData["mainSelected"] == "rex" ? "active" : "";
    string pageTitle = string.IsNullOrEmpty((string)ViewData["pageTitle"]) ? "NexenHub" : (string)ViewData["pageTitle"];

    bool isLogged = Login.IsLoggedIn(Model.HttpContext);
    string Username = isLogged ? Login.Username(Model.HttpContext) : "";
    string Role = isLogged ? Login.Role(Model.HttpContext) : "";
    Member user = isLogged ? Login.Member(Model.HttpContext) : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="bg-github-light">

    <script src="~/lib/chart/dist/chart.min.js"></script>
    <script src="~/lib/chart/dist/helpers.esm.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/vis/dist/vis.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-github-dark text-white">
            <div class="container-fluid">

                <a class="navbar-brand" asp-page="/Index">
                    <img src="/images/logo/logo_light.png" width="200" />
                </a>

                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @machineSelected" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Production
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/MachineList">Machine list</a>
                                <a class="dropdown-item" href="/MachineReport">Report generator</a>
                                @*<a class="dropdown-item" href="/OEE/Dashboard">OEE</a>*@
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @radSelected" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                R&D
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/RAD/PrototypeProgress">Prototype progress</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @radSelected" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                OEE
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/OEE/Dashboard">Dashboard</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Organization
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/ORG/Departments">Departments</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @rexSelected" asp-page="/Rex">ReX</a>
                        </li>
                    </ul>

                    @if (isLogged)
                    {
                        <ul class="navbar-nav mb-2 mb-lg-0 mx-3">
                            <li class="nav-item dropdown text-end">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @user.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav mb-2 mb-lg-0 mx-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Login">Sign in</a>
                            </li>
                        </ul>
                    }

                    <div class="d-flex">

                        <div class="input-group flex-grow-1">
                            <input class="text-center form-control" placeholder="CART / LOT / TIRE" onkeyup="searchMat(event,this)" />
                        </div>

                        
                    </div>
              </div>
            </div>
        </nav>
     

    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer text-muted bg-github-dark">
        <div class="container">
            <div class="row">
                <div class="col">&copy; 2021 - @DateTime.Now.Year</div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
