@model NexenHub.Models.YearProd
@{ 

}
<div class="row g-2">

    <div class="col-xl-7">

        <div class="row mb-2 g-2">
            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body">
                        <span id="GtAvg" class="display-6"></span>
                        <div class="fw-bold" style="color: #4bc0c0;">
                            Average GT
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body">
                        <span id="TireAvg" class="display-6"></span>
                        <div class="fw-bold" style="color: #36a3eb;">
                            Average tires
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body">
                        <span id="GtTotal" class="display-6"></span>
                        <div class="fw-bold" style="color: #4bc0c0;">
                            Total GT
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body">
                        <span id="TireTotal" class="display-6"></span>
                        <div class="fw-bold" style="color: #36a3eb;">
                            Total tires
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <canvas id="ypChart" />
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <nav>
                        <ul class="pagination justify-content-center">
                            @{
                                for (int i = 1; i < 13; i++)
                                {
                                    <li id="yp_pag_@i" class="page-item"><a class="page-link" onclick="updateYpChart(@i)">@i</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-5">

        <!--Chart 1-->
        <div class="row mb-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <canvas id="ypChart1" />
                    </div>
                </div>
            </div>
        </div>

        <!--Chart 2-->
        <div class="row mb-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <canvas id="ypChart2" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    var yp_days = @Html.Raw(Model.jsonDays);
    var yp_gtprod = @Html.Raw(Model.jsonGtProd);
    var yp_tireprod = @Html.Raw(Model.jsonTireProd);
    var yp_month = @Model.actMonth;

    // Display data
    var yp_gtavg = @Html.Raw(Model.jsonGtAvg);
    var yp_tireavg = @Html.Raw(Model.jsonTireAvg);

    var yp_gttotal = @Html.Raw(Model.jsonGtTotal);
    var yp_tirtotal = @Html.Raw(Model.jsonTireTotal);

    document.getElementById('yp_pag_' + yp_month).classList.add("active");
    updateYpNumbers(yp_month);

    var yp_ctx = document.getElementById('ypChart').getContext('2d');
    ypChart = new Chart(yp_ctx, {
            type: 'bar',
            data: {
                labels: yp_days[yp_month - 1],
                datasets: [
                    {
                        label: 'GT',
                        data: yp_gtprod[yp_month - 1],
                        backgroundColor: ['rgba(75, 192, 192, 0.5)'],
                        borderColor: ['rgba(75, 192, 192, 1)'],
                        borderWidth: 1,
                        tension:0.3
                    },
                    {
                        label: 'Tire',
                        data: yp_tireprod[yp_month - 1],
                    backgroundColor: 'rgba(54, 162, 235,0.5)',
                    borderColor: 'rgba(54, 162, 235,1)',
                        borderWidth: 1,
                        tension:0.3
                    }
                ]
            },
        options: {
            maintainAspectRatio: true,
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: false,
                        stacked: false,
                        grid: {
                            //color: 'rgba(255,255, 255,0.1)'
                        },
                        ticks: {
                            //color: 'white'
                        }
                    },
                    x: {
                        stacked:true,
                        grid: {
                            //color: 'rgba(255,255, 255,0.1)'
                        },
                        ticks: {
                            //color: 'white'
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'top',
                        labels: {
                            //color: 'white'
                        }
                    }
                }
            }
    });

    var yp_ctx1 = document.getElementById('ypChart1').getContext('2d');
    ypChart1 = new Chart(yp_ctx1, {
        type: 'line',
        data: {
            labels: ["1","2","3","4","5","6","7","8","9","10","11","12"],
            datasets: [
                {
                    label: 'Average GT',
                    data: @Html.Raw(Model.jsonGtAvgChart),
                    backgroundColor: ['rgba(75, 192, 192, 0.7)'],
                    borderColor: ['rgba(75, 192, 192, 1)'],
                    borderWidth: 3,
                    tension: 0.4,
                    fill: false
                },
                {
                    label: 'Average Tires',
                    data: @Html.Raw(Model.jsonTireAvgChart),
                    backgroundColor: ['rgba(54, 162, 235, 0.7)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    borderWidth: 3,
                    tension: 0.4,
                    fill:false
                }
            ]
        },
        options: {
            maintainAspectRatio: true,
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false,
                    grid: {
                        //color: 'rgba(255,255, 255,0.1)'
                    },
                    ticks: {
                        //color: 'white'
                    }
                },
                x: {
                    grid: {
                        //color: 'rgba(255,255, 255,0.1)'
                    },
                    ticks: {
                        //color: 'white'
                    }
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        //color: 'white'
                    }
                }
            }
        }
    });

    var yp_ctx2 = document.getElementById('ypChart2').getContext('2d');
    ypChart2 = new Chart(yp_ctx2, {
        type: 'line',
        data: {
            labels: ["1","2","3","4","5","6","7","8","9","10","11","12"],
            datasets: [
                {
                    label: 'Total GT',
                    data: @Html.Raw(Model.jsonGtTotalChart),
                    backgroundColor: ['rgba(75, 192, 192, 0.7)'],
                    borderColor: ['rgba(75, 192, 192, 1)'],
                    borderWidth: 3,
                    tension: 0.4,
                    fill: false
                },
                {
                    label: 'Total Tires',
                    data: @Html.Raw(Model.jsonTireTotalChart),
                    backgroundColor: ['rgba(54, 162, 235, 0.7)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    borderWidth: 3,
                    tension: 0.4,
                    fill:false
                }
            ]
        },
        options: {
            maintainAspectRatio: true,
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false,
                    grid: {
                        //color: 'rgba(255,255, 255,0.1)'
                    },
                    ticks: {
                        //color: 'white'
                    }
                },
                x: {
                    grid: {
                        //color: 'rgba(255,255, 255,0.1)'
                    },
                    ticks: {
                        //color: 'white'
                    }
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        //color: 'white'
                    }
                }
            }
        }
    });

    function updateYpChart(month) {
        ypChart.data.labels = yp_days[month - 1];
        ypChart.data.datasets[0].data = yp_gtprod[month - 1];
        ypChart.data.datasets[1].data = yp_tireprod[month - 1];
        ypChart.update();
        selectYpPag(month);
        updateYpNumbers(month);
        yp_month = month;
    }

    function selectYpPag(month) 
    {
        for (var i = 1; i < 13; i++) {
            document.getElementById('yp_pag_' + i).classList.remove("active");
        }
        document.getElementById('yp_pag_' + month).classList.add("active");
    }

    function updateYpNumbers(month) 
    {
        var gtAvgButton = document.getElementById('GtAvg');
        var tireAvgButton = document.getElementById('TireAvg');

        gtAvgButton.textContent = yp_gtavg[month - 1];
        tireAvgButton.textContent = yp_tireavg[month - 1];

        var gtTotalButton = document.getElementById('GtTotal');
        gtTotalButton.textContent = yp_gttotal[month - 1];

        var tireTotalButton = document.getElementById('TireTotal');
        tireTotalButton.textContent = yp_tirtotal[month - 1];

    }

</script>