@model NexenHub.Models.MachineQuality


@{
    int lotSummary = Model.GoodLots.Count + Model.BadLots.Count + Model.ScrapLots.Count;
    double prodGoodSummary = Model.GoodLots.Sum(g => g.PROD_QTY); 
    double prodBadSummary = Model.BadLots.Sum(g => g.PROD_QTY);
    double prodScrapSummary = Model.ScrapLots.Sum(g => g.PROD_QTY);
    double prodSummary = prodGoodSummary + prodBadSummary + prodScrapSummary;

    double prodCurrentGoodSummary = Model.GoodLots.Sum(g => g.CURRENT_QTY);
    double prodCurrentBadSummary = Model.BadLots.Sum(g => g.CURRENT_QTY);
    double prodCurrentScrapSummary = Model.ScrapLots.Sum(g => g.CURRENT_QTY);
}

<div class="row mb-1">
    <div class="col text-end">
        <small class="text-muted">@Html.Raw($"Machine {Model.EQ_ID}. Period: {Model.FromDate.ToShortDateString()} - {Model.ToDate.ToShortDateString()}")</small>
    </div>
</div>

<div class="row mb-2 g-2">
    <div class="col">

        <div class="row mb-2">
            <div class="col-4">

                <div class="card h-100">
                    <div class="card-body">
                        <H6 class="text-primary fw-bolder">Produced quantity</H6>
                        <h4>@prodSummary</h4>
                    </div>
                </div>

            </div>

            <div class="col-4">

                <div class="card h-100">
                    <div class="card-body">
                        <H6 class="text-danger fw-bolder">Bad</H6>
                        <div class="d-flex align-items-center">
                            <h4>@prodCurrentBadSummary</h4>
                            <div class="flex-grow-1 ps-3">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4">

                <div class="card h-100">
                    <div class="card-body">
                        <H6 class="text-danger fw-bolder">Scrap</H6>
                        <div class="d-flex align-items-center">
                            <h4>@prodCurrentScrapSummary</h4>
                            <div class="flex-grow-1 ps-3">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <H6 class="text-primary fw-bolder">Details</H6>
                        <div class="row text-center mb-3">
                            <div class="col">
                                <h5>@lotSummary</h5>
                                <h6>Lot count</h6>
                            </div>
                            <div class="col">
                                <h5>@Model.GoodLots.Count</h5>
                                <h6>Normal lots</h6>
                            </div>
                            <div class="col">
                                <h5>@Model.BadLots.Count</h5>
                                <h6>Bad lots</h6>
                            </div>
                            <div class="col">
                                <h5>@Model.ScrapLots.Count</h5>
                                <h6>Scrap lots</h6>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <h5>@prodCurrentGoodSummary / @prodGoodSummary</h5>
                                <h6>Normal remain</h6>
                            </div>
                            <div class="col">
                                <h5>@prodCurrentBadSummary / @prodBadSummary</h5>
                                <h6>Bad remain</h6>
                            </div>
                            <div class="col">
                                <h5>@prodCurrentScrapSummary / @prodScrapSummary</h5>
                                <h6>Scrap remain</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="col-4">

        <div class="card h-100">

        </div>

    </div>*@
</div>



